@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
        
    }
    25% {
        background-position: 50% 0%;
        
    }
    50% {
        background-position: 100% 50%;
        
    }
    75% {
        background-position: 50% 100%;
        
    }
    100% {
        background-position: 0% 50%;
        
    }
}

body {
    background: rgb(0, 0, 0); /* Arka plan rengi */
    background: linear-gradient(90deg, rgb(17, 7, 7) 0%, rgb(9, 3, 31) 50%, rgb(23, 3, 49) 100%); /* Neon beyaz ve yeşil */
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite; /* Daha uzun animasyon süresi */
    color: white; /* Yazı rengi */
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto; /* Dikey kaydırma çubuğuna izin ver */
    overflow-x: hidden; /* Yatay kaydırma çubuğunu gizle */
}




.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 10px 0;
}

.navbar-brand img {
    width: 40px;
    height: auto;
}

.navbar .nav-item {
    margin: 0 0px;
}

.hero {
    background-image: url('https://example.com/your-image.jpg'); /* Resim URL'sini buraya yerleştirin */
    background-size: cover;
    color: white;
    padding: 100px 0;
    text-align: center;
    flex: 1;
}

footer {
    padding: 10px 0;
    text-align: center;
    font-size: small;
}

.item-card {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    color: white;
    text-align: center;
    margin-bottom: 20px; /* Footer ve diğer kartlardan daha fazla boşluk */
    margin-right: 20px;  /* Kartların yan yana dizilmesinde boşluk bırakır */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 89, 255, 0.8); /* Neon gölge */
    border: 2px solid transparent;
    transition: border 0.3s, box-shadow 0.3s;
    height: 100%;
    overflow: hidden; /* Taşan içerikleri gizle */
}

.item-card img {
    width: 100%; /* Genişliği tam kapsayıcı yap */
    height: auto; /* Orantılı olarak yüksekliği ayarla */
    object-fit: cover; /* Resmi kart boyutuna sığdır, kırpmadan */
}



.item-card:hover {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid rgba(0, 247, 255, 0.8); /* Hover sırasında yeşil kenar */
    box-shadow: 0 0 10px rgb(2, 214, 221); /* Hover sırasında neon etkisi artırıldı */
}


.item-logo {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item-card h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
}

.item-card p {
    font-weight: 300;
    font-size: 0.8rem;
    margin: 5px 0;
}

.item-price {
    font-size: 1rem;
    font-weight: bold;
    color: #00aaff;
}

.btn-buy, .btn-inspect {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(4, 26, 31) 100%);
    background-size: 400%;
    animation: gradient-animation 8s ease infinite;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.3s;
    margin-top: 10px;
}

.btn-buy:hover, .btn-inspect:hover {
    transform: scale(1.05);
    color: #ffffff; /* Neon beyaz rengi */
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff; /* Neon etkisi için gölge ekliyoruz */
}


.btn-buy:disabled, .btn-inspect:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.btn-buy:disabled:hover, .btn-inspect:disabled:hover {
    transform: none;
}

.neon-photo {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(33, 240, 5, 0.8), 0 0 30px rgba(0, 255, 255, 0.6);
    transform: rotate(-5deg);
    transition: transform 0.5s;
}

.neon-photo:hover {
    transform: rotate(-8deg);
}

.scroll-icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.scroll-arrow {
    width: 50px;
    height: auto;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.btn-hover-effect {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-hover-effect:hover {
    background-color: rgba(4, 26, 31, 0.9);
    transform: scale(1.05);
}

.item-card:hover {
    background: rgba(0, 0, 0, 0.9);
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-custom {
    background-color: rgba(0, 123, 255, 0.8); /* Temel arka plan rengi */
    border: none; /* Kenar çizgisini kaldır */
    color: white; /* Yazı rengi beyaz */
    padding: 10px 15px; /* Dikey ve yatay iç boşluk */
    width: 100px; /* Buton genişliğini ayarla */
    border-radius: 5px; /* Köşe yuvarlama */
    font-size: 1rem; /* Yazı boyutu */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Geçiş efekti */
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.8), 0 0 10px rgba(40, 167, 69, 0.6); /* Neon ışık efekti */
}

.btn-custom:hover {
    background-color: rgba(0, 123, 255, 1); /* Hover sırasında arka plan rengi */
    transform: translateY(-2px); /* Hover sırasında yukarı kaydırma efekti */
    box-shadow: 0 0 5px rgba(40, 167, 69, 1), 0 0 20px rgba(40, 167, 69, 0.8); /* Hover sırasında neon parlama efekti */
}

.btn-success {
    background-color: rgba(68, 174, 236, 0.8); /* Başarılı işlem rengi */
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 10px rgba(40, 167, 69, 0.6); /* Neon ışık efekti */
}

.btn-success:hover {
    background-color: rgba(40, 167, 69, 1); /* Başarılı işlem hover rengi */
    box-shadow: 0 0 5px rgba(40, 167, 69, 1), 0 0 20px rgba(40, 167, 69, 0.8); /* Hover sırasında neon parlama efekti */
}

.btn-danger {
    background-color: rgba(0, 122, 153, 0.8); /* Tehlikeli işlem rengi */
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 10px rgba(220, 53, 69, 0.6); /* Neon ışık efekti */
}

.btn-danger:hover {
    background-color: rgba(220, 53, 69, 1); /* Tehlikeli işlem hover rengi */
    box-shadow: 0 0 5px rgba(220, 53, 69, 1), 0 0 20px rgba(220, 53, 69, 0.8); /* Hover sırasında neon parlama efekti */
}





@keyframes snow-fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh);
    }
}

.snowflake {
    position: absolute;
    top: 0;
    left: 0;
    animation: fall linear infinite;
}

@keyframes flutter {
    0% { transform: translateX(0); }
    50% { transform: translateX(5px); }
    100% { transform: translateX(-5px); }
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(100vh);
    }
}
